main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-container {
  border: solid black 1px;
  margin: 0.5rem;
  padding: 1rem;
}
.canvas-container {
  border: solid black 1px;
  margin: 0.5rem;
  padding: 1rem;
}
