registro {
    display: grid;
    width: auto;
    height: 100vh;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.5fr 4fr 0.5fr;
    grid-template-areas: "header header header" "aside main main" "footer footer footer";
    padding: 0%;
    column-gap: 0%;
    row-gap: 0%;
}

header {
    grid-area: header;
    text-align: center;
    margin-top: 1.5%;
}

aside {
    grid-area: aside;
    text-align: center;
    color: darkgray;
}

main {
    grid-area: main;
    text-align: center;
    background-color: maroon;
}

.logo {
    width: 60%;
    margin-top: 5%;
    display: block;
    margin: auto;
    /*margin-left: 20%;*/
}


/*---------------------- Form -------------------*/

.form {
    border-style: solid;
    height: 95%;
    width: 60%;
    padding: 5%;
    background-color: #fff;
    display: block;
    margin: auto;
    border-radius: 1%;
    margin-top: 3%;
}

.form-check-label-1 {
    margin-right: 10%;
    font-size: 115%;
    margin-bottom: 5%;
}

.form-check-label-2 {
    margin-left: 10%;
    font-size: 115%;
    margin-bottom: 5%;
}

#botonSiguiente {
    padding-left: 27%;
    padding-right: 27%;
    margin-bottom: 3%;
    margin-top: 2%;
}

#botonRegresar {
    margin-bottom: 5%;
}


/*---------------------- Footer ------------------*/

footer {
    grid-area: footer;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding-top: 1%;
    padding-bottom: 1%;
}

contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: "header-foo header-foo header-foo" "by by by";
    padding: 0%;
    column-gap: 0%;
    row-gap: 0%;
}

#beto {
    text-align: left;
    float: left;
    margin-left: 15%;
}

#elias {
    text-align: right;
    float: right;
    margin-right: 15%;
}

.fab {
    color: #fff;
    font-size: 120%;
}

.fab:hover {
    color: #fff;
    font-size: 130%;
}


/*----------------- Termina Footer ---------------*/